backports.functools-lru-cache==1.5
click==6.7
cycler==0.10.0
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
numpy==1.14.2
opencv-python==3.4.0.12
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
PyWavelets==0.5.2
six==1.11.0
subprocess32==3.5.1
Werkzeug==0.14.1
