{% extends "layout.html" %}
{% block body %}
<style type="text/css">
table{
    font-size:12px;
}
table{
    table-layout:fixed;
    empty-cells:show;
    border-collapse: collapse;
    margin:0 auto;
}
td{
    height:20px;
}
</style>
<a href="{{ url_for('index.hello_world') }}">
    <img src="{{ url_for('static', filename='image/back_sign.ico') }}" width="20px" height="20px"/>
</a>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
<form enctype="multipart/form-data" action="{{ url_for('process.perform_dwt') }}" method="post">
    <h2 align="center" style="font-size: 40px;">DWT</h2>
    <br/>
<div id="main" style="height:250px;">
    <div id="left" style="float:left; width:30%; height:80%;" align="center">
        <p>Cover Image
        <input type="file" name="cover_image" onchange="previewImage(this, 'previewCover', 128, 128)" id="cover" hidden>
        </p>
        <img id="previewCover" src="{{ url_for('static', filename='image/upload.png') }}" onclick="fileSelect('cover')" style="cursor:pointer"/>
    </div>
    <div id="center" style="float:left; width:40%; height:80%;" align="center">
        <p>Change coefficient</p>
        <table align="center">
            <tr>
                <td width="30%">Arnold times</td>
                <td width="60%">
                    <input type="range" name="times" value="15" min="0" max="200" step="1" title="" oninput="change(this.name)">
                </td>
                <td width="10%">
                    <label id="times">15</label>
                </td>
            </tr>
            <tr>
                <td>cA</td>
                <td><input type="range" name="cA" value="0.2" min="0" max="1" step="0.1" title="" oninput="change(this.name)"></td>
                <td>
                    <label id="cA">0.2</label>
                </td>
            </tr>
            <tr>
                <td>cH</td>
                <td><input type="range" name="cH" value="0.1" min="0" max="1" step="0.1" title="" oninput="change(this.name)"></td>
                <td>
                    <label id="cH">0.1</label>
                </td>
            </tr>
            <tr>
                <td>cV</td>
                <td><input type="range" name="cV" value="0.1" min="0" max="1" step="0.1" title="" oninput="change(this.name)"></td>
                <td>
                    <label id="cV">0.1</label>
                </td>
            </tr>
            <tr>
                <td>cD</td>
                <td><input type="range" name="cD" value="0.1" min="0" max="1" step="0.1" title="" oninput="change(this.name)"></td>
                <td>
                    <label id="cD">0.1</label>
                </td>
            </tr>
        </table>
    </div>
    <div id="right" style="float:left; width:30%; height:80%;" align="center">
        <p>Watermark
        <input type="file" name="watermark" onchange="previewImage(this, 'previewWater', 128, 128)" id="water" hidden>
        </p>
        <img id="previewWater" src="{{ url_for('static', filename='image/upload.png') }}" onclick="fileSelect('water')" style="cursor:pointer"/>
    </div>
    <div align="center">
        <input type="submit" value="Perform" class="btn" style="font-size: 15px">
    </div>
</div>
    <br/><br/>
</form>
<div id="bigPic" style="position:absolute;display:none;">
    <img src="" id="pre_view"/>
</div>
{% endblock %}
