{% extends "layout.html" %}
{% block body %}
<p align="center"><b>Choose a method you want to use :)</b></p>
<div id="main" style="height:120px;">
    <div id="left" style="float:left ;  width:50%;  height:100%;" align="center">
        <a href="{{ url_for('process.lsb_index') }}" class="btn">LSB</a>
    </div>
    <div id="right" style="float:left ;  width:50%;  height:100%;" align="center">
        <a href="{{ url_for('process.dwt_index') }}" class="btn">DWT</a>
    </div>
</div>
{% endblock %}
