{% extends "layout.html" %}
{% block body %}
<h2 align="center">Welcome!</h2>
<pre>
    <b>
                              \    /\/\    _________________    /\/\     /
                               )  (___`)  /   PLEASE LOGIN! \  (`___)   (
                              (  /    )   \_________________/   (    \  )
                               \(____)|                         |(____)/
    </b>
    <b>
                              \    /\/\    _________________    /\/\     /
                               )  (___`)  /   PLEASE LOGIN! \  (`___)   (
                              (  /    )   \_________________/   (    \  )
                               \(____)|                         |(____)/
    </b>
</pre>
{% endblock %}

